*{
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body, html{
    background-image: url(background.jpg);
    background-position: center;
    background-size: cover;
}
.contact{
    margin-top: -100px;
    margin-left: 660px;
    width: 400px;
    height: 400px;
}
.contact_letter{
    margin-left: 695px;
    margin-top: -70px;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
}
#firstName{
    margin-left: 680px;
    margin-top: 40px;
}
.gen{
    margin-left: 690px;
}
.rad{
    margin-left: 60px;
    margin-top: -110px;
}
.text{
    margin-bottom: -100px;
}
.add {
    margin-left: 690px;
    margin-top: 70px;
    color: greenyellow;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 19px;
}
.querry{
    margin-left: 690px;
    margin-top: 70px;
    font-weight: bold;
}