body, html {
    margin: 0;
    padding: 0;
    margin-top: -20px;
    background-color: #EDF0F5;
}
.back{
    background-color: #3B5999;
    position: relative;
    height: 120px;
    width: 100%;
    overflow: hidden;
}
.face{
    color: #ffffff;
    position: absolute;
    bottom: -15%;
    left: 10%;
    font-family: sans-serif;
}
#em{
    color: #ffffff;
}
.log{
    color: #ffffff;
}
.but{
    background-color: #6278B2;
    color: #ffffff;
}
a{
    color: #ffffff;
}
.tab1{
    position: absolute;
    bottom: 0px;
    left: 1000px;
}
p{
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 10%;
    margin-top: 5%;
}
.t1{
    margin-left: 17%;
}
.ph1{
    padding-bottom: 5%;
}
.ph2{
    padding-bottom: 5%;
}
.sign{
    margin-left: 1000px;
    margin-top: -290px;
}
.free{
    font-size: 17px;
    font-weight: 5;
    margin-top: -20px;
}
.table1{
    margin-left: 60px;
}
.first{
    width: 150px;
    height: 25px;
}
.last{
    width: 150px;
    height: 25px;
}
.email{
    width: 318px;
    height: 28px;
    margin-top: 10px;
}
.bd{
    margin-left: 1008px;
    margin-top: -19px;
}
.birthday{
    margin-left: 50px;
    margin-top: -30px;
}
.day{
    background-color: #DDDDDF;
}
.year{
    background-color: #DDDDDF;
}
.month{
    width: 63px;
    background-color: #DDDDDF;
}
.why{
    font-size: 12px;
    font-weight: 5;
    margin-left: 185px;
    margin-top: -22px;
    color: #3B5999;
}
.whydo{
    font-size: 10px;
    font-family: sans-serif;
}
.terms{
    font-size: 12px;
    margin-left: 4px;
    color: #787b81;
}
.button{
    width: 200px;
    height: 34px;
    background-color: #5E984B;
    color: #ffffff;
    border: none;
    font-family: sans-serif;
    font-weight: bold;
}
.create{
    margin-left: 0px;
    margin-top: 20px;
    font-size: 13px;
    color: #575a65;
}